  <h1>位置情報取得サンプル</h1>
  <button id="getPosition">位置情報を取得する</button>

  <div id="lat"></div>
  <div id="lon"></div>

  <div id="map" style="width:600px; height:600px"></div>

   <script src="https://maps.googleapis.com/maps/api/js?key="></script>

  <%= javascript_pack_tag 'demo/index' %> 
    